CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_BOARD=y
CONFIG_TUYA_T5AI_BOARD_LCD_35565=y
CONFIG_TUYA_T5AI_BOARD_CAMERA=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_LVGL_TP=y
CONFIG_LV_USE_IME_PINYIN=y
CONFIG_LV_IME_PINYIN_USE_DEFAULT_DICT=y
CONFIG_LV_IME_PINYIN_CAND_TEXT_NUM=8
CONFIG_LV_FONT_SIMSUN_16_CJK=y
